---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { getCollection } from "astro:content";
import formatDate from "@utils/getFormatDate";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);

  const postResult = posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));

  return [...postResult];
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <Main>
    <section class="pb-20">
      <h1
        class="text-3xl text-skin-base font-semibold mb-5"
        transition:name={post.data.title}
      >
        {post.data.title}
      </h1>
      <p class="mb-10 opacity-80">
        <span transition:name={formatDate(post.data.pubDate)}
          >{formatDate(post.data.pubDate)}</span
        >
        {
          post.data.modDate ? (
            <span class="ml-11">
              <i class="text-sm opacity-60">update: </i>
              {formatDate(post.data.modDate)}
            </span>
          ) : (
            ""
          )
        }
      </p>
      <article class="prose">
        <Content />
      </article>
    </section>
  </Main>
</Layout>

<script is:inline>
  function attachCopyButtons() {
    let copyButtonLabel = "Copy";
    let codeBlocks = Array.from(document.querySelectorAll("pre"));

    for (let codeBlock of codeBlocks) {
      let wrapper = document.createElement("div");
      wrapper.style.position = "relative";

      let copyButton = document.createElement("button");
      copyButton.className =
        "copy-code absolute right-3 -top-3 rounded bg-skin-card px-2 py-1 text-xs leading-4 text-skin-base font-medium";
      copyButton.innerHTML = copyButtonLabel;
      codeBlock.setAttribute("tabindex", "0");
      codeBlock.appendChild(copyButton);

      // wrap codebock with relative parent element
      codeBlock?.parentNode?.insertBefore(wrapper, codeBlock);
      wrapper.appendChild(codeBlock);

      copyButton.addEventListener("click", async () => {
        await copyCode(codeBlock, copyButton);
      });
    }

    async function copyCode(block, button) {
      let code = block.querySelector("code");
      let text = code?.innerText;

      await navigator.clipboard.writeText(text ?? "");

      // visual feedback that task is completed
      button.innerText = "Copied";

      setTimeout(() => {
        button.innerText = copyButtonLabel;
      }, 700);
    }
  }
  attachCopyButtons();
</script>
